{% extends "base.html" %}
{% block title %}
Restablecer contraseña - Support In Bits
{% endblock %}



{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Restablecer contraseña" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% trans "Ingresa tu email y te enviaremos un correo para reestablecer tu contraseña." %}
    {% endelement %}
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            <button type="submit" class="btn btn-primary mb-3">
                {% trans 'Enviar correo' %}
            </button>
        {% endslot %}
    {% endelement %}
    {% element p %}
        {% blocktrans %}Si tiene algún problema para restablecer su contraseña, póngase en contacto con nosotros.{% endblocktrans %}
    {% endelement %}
{% endblock content %}