Django>=4.2
djangorestframework
psycopg2-binary
python-dotenv
pillow
django-tinymce
axe-selenium-python
django-cryptography
django-bootstrap-v5
WhiteNoise==6.9.0
django-cookie-consent==0.6.0
django-allauth==65.8.0
gunicorn
requests
PyJWT>=2.0.0