{% extends "base.html" %} 
{% block content %} 
{% load static %}

<div id="contenido-home">
  <div class="row">
            
    <h1 class="blockquote  text-center my-2">Creando la web del futuro, accesible para todos los seres humanos</h1>
    <div class="text-home d-flex flex-column justify-content-center align-items-center mb-5">
      <p class="text-center display-3 d-none d-md-block my-5">
        En nuestra web encontrarás diferentes herramientas que te ayudarán a mejorar la accesibilidad de tu sitio web.
        También en nuestro blog encontrarás articulos relacionados con la accesibilidad web.
      </p>

      <p class="text-center fs-2  mt-2 d-block d-md-none d-xxl-none">
        En nuestra web encontrarás diferentes herramientas que te ayudarán a mejorar la accesibilidad de tu sitio web.
        También en nuestro blog encontrarás articulos relacionados con la accesibilidad web.
      </p>

    </div>
    <div class="row mt-5">
      <p class="text-center my-5 display-4">
          ¿Tu web cumple con 
        <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2018-12699#top">el Real Decreto 1112/2018 que trata 
          sobre la accesibilidad de los sitios web y aplicaciones móviles del sector público?</a>
        </p>
        <p class="text-center my-5 d-none d-md-block display-4">
          ¿Necesitas ayuda para cumplir con la normativa de accesibilidad web?
          No lo dudes y ponte en contacto con nosotros.
        </p>
        <p class="text-center my-5 d-none d-md-block display-4">
          No lo dudes y ponte en contacto con nosotros.
        </p>
      </p>
      <p class="text-center">
        <a href="#" class="btn-primary display-3 mt-3 p-3 rounded">Contáctanos</a>
      </p>
    </div>
  </div>
</div>
{% endblock content%}
