{% extends "base.html" %} 
{% block content %} 
{% load static %}

<div id="contenido-home">
  <div class="row">
    
    <div class="col">
      <p class="col text-center h3">Bienvenido a</p>
      <h1 class="col text-center">SupportInBits.com</h1>
    </div>
    
    <h1 class="blockquote text-center mt-4">Creando la web del futuro, accesible para todos los seres humanos</h1>
    <div class="text-home">
      <p class="text-md-start text-center display-6 d-none d-md-block">
        En nuestra web encontrarás diversos tutoriales, desde cómo aprender a montar un cable Ethernet o cómo 
        empezar a programar desde cero, hasta cómo crear contenido digital accesible. Todo está disponible de 
        manera gratuita. Si tienes alguna duda, no dudes en dejarnos tu comentario y te responderemos enseguida.
      </p>

      <p class="text-center display-5 mt-5 d-none d-md-block">
        ¡Únete a nuestra comunidad y aprende con nosotros!
      </p>
      <p class="text-md-start text-center fs-4 mt-4 d-block d-md-none d-xxl-none">
        En nuestra web encontrarás diversos tutoriales, desde cómo aprender a montar un cable Ethernet o cómo 
        empezar a programar desde cero, hasta cómo crear contenido digital accesible. Todo está disponible de 
        manera gratuita. Si tienes alguna duda, no dudes en dejarnos tu comentario y te responderemos enseguida.
      </p>
      <p class="text-center display-5 mt-5 d-block d-md-none d-xxl-none">
        ¡Únete a nuestra comunidad y aprende con nosotros!
      </p>
    </div>
  </div>
</div>
{% endblock content%}
