/* NOTA: siempre que hagas cambios en este archivo realiza un collectstatic */

@font-face {
  font-family: "fuente-principal";
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --bk_principal: #f2f2f2;
  --tx-nm-lg: #003366;
  --indigoEnlaceBread: #6f009e;
  --brown: #514b23;
  --lemon-lime: #e4ff1a;
  --orangepantone: #f26419;
  --texto-boton: #faff24;
  --bg-color: #ffffff;
  --text-color: #333333;
  --banner-bg: #f0f0f0;
  --bg-col-pre: #283142
}

/* ------------------ Alto contraste ------------------ */
.high-contrast,
.high-contrast p,
.high-contrast h1,
.high-contrast h2,
.high-contrast h3,
.high-contrast ul,
.high-contrast li,
.high-contrast #contenido-about i,
.high-contrast .card-body,
.high-contrast .card-footer,
.high-contrast .col,
.high-contrast .blockquote,
.high-contrast .text-justify,
.high-contrast .text-center,
.high-contrast .card-header,
.high-contrast .menu-section,
.high-contrast .accordion-item,
.high-contrast .menu-section .table,
.high-contrast .menu-section table,
.high-contrast .menu-section th,
.high-contrast .menu-section td,
.high-contrast .menu-section tr,
.high-contrast table,
.high-contrast th,
.high-contrast td,
.high-contrast tr,
.high-contrast #codeBlock,
.high-contrast #jsBlock,
.high-contrast #codeBlock code,
.high-contrast #jsBlock code,
.high-contrast .list-group,
.high-contrast .list-group-item,
.high-contrast .offcanvas,
.high-contrast #breadcrumb-nav,
.high-contrast #boton-up,
.high-contrast .dataTables_info,
.high-contrast #comentariosTable_length,
.high-contrast #comentariosTable_length select,
.high-contrast #comentariosTable_paginate a,
.high-contrast #usuariosTable_length,
.high-contrast #usuariosTable_length select,
.high-contrast #usuariosTable_paginate a,
.high-contrast #paginasTable_length,
.high-contrast #paginasTable_length select,
.high-contrast #paginasTable_paginate a,
.high-contrast #entradasTable_length,
.high-contrast #entradasTable_length select,
.high-contrast .panel-access,
.high-contrast .lupa-clone,
.high-contrast #resultados-busqueda,
.high-contrast #entradasTable_paginate a {
  background-color: black !important;
  color: white !important;
  border-color: white !important;
}
.high-contrast .menu-section thead {
  background-color: #222 !important;
  color: #fff !important;
}

.high-contrast a,
.high-contrast .panel-access button {
  color: #00ff33 !important;
  background-color: black !important;
}

.high-contrast .navbar-toggler {
  border-color: #00ff33 !important;
}

.high-contrast .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2300ff33' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.high-contrast .btn.dropdown-toggle,
.high-contrast .toggle-btn.btn,
.high-contrast .btn-primary,
.high-contrast .accordion-button {
  background-color: black !important;
  color: yellow !important;
  border-color: yellow !important;
}

.high-contrast .breadcrumb-item.active {
  color: #00e1ff !important;
  border-color: yellow !important;
}

/* ------------------ DataTables ------------------ */
.dataTables_filter {
  display: none !important;
}

/* ------------------ Utilidades ------------------ */
.hidden {
  display: none;
}

/* ------------------ Body y tipografía ------------------ */
body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--bk_principal);
  color: var(--tx-nm-lg);
  font-family: "fuente-principal", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--tx-nm-lg);
  line-height: 1.5;
  text-decoration: none;
}

a:focus,
a:hover {
  box-shadow: inset 0 -2px 0 var(--indigoEnlaceBread);
}

p {
  line-height: 1.5;
}

code{
  background-color: var(--bg-col-pre);
  color: var(--lemon-lime);
}

pre{
  background-color: var(--bg-col-pre);
  padding: 3%;
  color: var(--lemon-lime);

}
/* ------------------ Header y botones ------------------ */
header .toggle-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header .toggle-btn:hover {
  background-color: #0056b3;
}

header .dark-mode {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --banner-bg: #1e1e1e;
  --button-bg: #4caf50;
  --button-hover: #45a049;
}

header .dropdown-item:active {
  color: var(--texto-boton);
  background-color: var(--indigoEnlaceBread);
}

header .nav-link:focus {
  box-shadow: inset 0 -5px 0 var(--indigoEnlaceBread);
}

header .btn {
  background-color: var(--indigoEnlaceBread);
  color: var(--texto-boton);
  border: solid var(--indigoEnlaceBread);
}

header .btn:hover {
  background-color: var(--texto-boton);
  border: solid var(--indigoEnlaceBread);
}

header .btn:focus {
  border: solid var(--texto-boton);
  box-shadow: var(--texto-boton);
}

.dropdown ul {
  z-index: 1100;
}
#resultados-busqueda{
  z-index: 1101;
}

/* ------------------ Breadcrumb ------------------ */
.breadcrumb li,
.breadcrumb a {
  color: var(--tx-nm-lg);
}

#breadcrumb-nav {
  background-color: var(--bk_principal);
  z-index: 1;
}

.breadcrumb .active {
  color: var(--indigoEnlaceBread);
}

/* ------------------ Search ------------------ */
.search-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

#resultados-busqueda {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
  max-height: 300px;
  overflow-y: auto;
}

/* ------------------ Botón up ------------------ */
#boton-up {
  position: fixed;
  bottom: 150px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

/* ------------------ Container y botones ------------------ */
.container {
  flex: 1;
  padding: 20px;
}

.container .btn-primary,
.container .btn-outline-primary {
  background-color: var(--indigoEnlaceBread);
  color: var(--lemon-lime);
}

.container .btn-primary:hover {
  background-color: var(--texto-boton);
  color: var(--indigoEnlaceBread);
}

.container .btn-secondary {
  background-color: var(--texto-boton);
  color: var(--indigoEnlaceBread);
}

.container .btn-outline-primary:hover {
  background-color: var(--texto-boton);
  color: var(--indigoEnlaceBread);
}

/* ------------------ Estilos generales de cada page ------------------ */
#contenido-home,
#contenido-privacy,
#contenido-about,
#contenido-faq,
#contenido-cookies {
  color: var(--tx-nm-lg);
}

#contenido-home p,
#contenido-home h1,
#contenido-home h2,
#contenido-home li,
#contenido-home .table,
#contenido-privacy p,
#contenido-privacy h1,
#contenido-privacy h2,
#contenido-privacy li,
#contenido-privacy .table,
#contenido-about p,
#contenido-about h1,
#contenido-about h2,
#contenido-about li,
#contenido-about .table,
#contenido-faq p,
#contenido-faq h1,
#contenido-faq h2,
#contenido-faq li,
#contenido-faq .table,
#contenido-cookies p,
#contenido-cookies h1,
#contenido-cookies h2,
#contenido-cookies li,
#contenido-cookies .table {
  color: var(--tx-nm-lg);
}

/* ------------------ Estilos individuales de cada page ------------------ */
#contenedor-home-blog .accordion a:focus,
#contenedor-home-blog .accordion a:hover {
  box-shadow: inset 0 -2px 0 var(--indigoEnlaceBread);
}

#contenedor-detalle-entrada .card-body .btn-primary {
  background-color: var(--indigoEnlaceBread);
  color: var(--lemon-lime);
}

#contenido-faq button,
#contenedor-home-blog button {
  background-color: var(--tx-nm-lg);
  color: var(--texto-boton);
}

#contenido-faq .accordion-button::after,
#contenedor-home-blog .accordion-button::after {
  background-image: none;
}

#contenido-faq .accordion-button:focus,
#contenedor-home-blog .accordion-button:focus {
  box-shadow: inset 0 -5px 0 var(--texto-boton);
}

/* ------------------ Footer ------------------ */
footer a {
  text-decoration: none;
}

/* ------------------ Barra de cookies ------------------ */
#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: #fff;
  padding: 15px;
  text-align: center;
  z-index: 9999;
  display: none;
}

#cookie-banner a {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

#cookie-banner button {
  margin-left: 20px;
  background: #ffd700;
  color: #222;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.img-thumbnail {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100px !important;
  object-fit: cover;
}
