{% extends 'base.html' %} 
{% block content %} 
{% load static %}
{% if user.is_authenticated %}
    <div class="row ">
      <div class="d-flex justify-content-center flex-column align-items-center">
        <div class="align-self-center mb-3">
          {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Avatar de {{ user.username }}" class="img-thumbnail align-self-center" style="max-width:150px;">
          {% else %}
              {% comment %} <img src="{% static 'img/default-avatar.png' %}" alt="Sin avatar" class="img-thumbnail" style="max-width:150px;"> {% endcomment %}
              <i class="bi bi-person-circle display-1"></i>
          {% endif %}
        </div>
      </div>
    </div>
    {% if user.is_superuser %}
    <h1 class="text-center">Bienvenido Administrador, {{ user.username }}!</h1>
    <p class="text-center">correo:  {{ user.email }}</p>
    
    <p class="fs-3 text-center">Paneles de administración: </p>
    
    
    
    
    
  <div class="row justify-content-center flex-column align-items-center" >
    <div class="col-auto">
        <div class="m-1 d-grid">
          
          <!-- button modal entradas-->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-entradas">
            Gestionar entradas
          </button>
          
        </div>

        <div class="m-1 d-grid">
          
          <!-- button modal entradas-->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-paginas">
            Gestionar páginas
          </button>
          
        </div>
        
        <div class="m-1 d-grid">
          <!-- button modal usuarios-->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-usuarios">
            Gestionar usuarios
          </button>
        </div>
        
        <div class="m-1 d-grid">
          <!-- button modal usuarios-->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-comentarios">
            Gestionar comentarios
          </button>            
        </div>
  </div>          
</div>

  <!-- Modal entradas -->
  <div class="modal fade" id="modal-entradas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-entradas">Panel de administración de entradas</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="d-flex align-items-center flex-column align-items-center">
              <div class="col-6">
                <div class="m-1 d-grid">
                  <a href="/blog/entrada-nueva" class="btn btn-primary">Crear entrada</a>
                </div>
              </div>
              <div class="col-6">
                <div class="m-1 d-grid">
                  <a href="/blog/entradas-admin" class="btn btn-primary">Buscar entrada</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal páginas -->
  <div class="modal fade" id="modal-paginas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-paginas">Panel de administración de páginas</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="d-flex align-items-center flex-column align-items-center">
              <div class="col-6">
                <div class="m-1 d-grid">
                  
                  <a href="{% url 'crear_pagina' %}" class="btn btn-primary">Crear página</a>
                </div>
              </div>
              <div class="col-6">
                <div class="m-1 d-grid">
                  <a href="{% url 'gestionar_paginas' %}" class="btn btn-primary">Mostrar páginas</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal usuarios -->
  <div class="modal fade" id="modal-usuarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-usuarios">Panel de administración de usuarios</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="d-flex align-items-center flex-column align-items-center">
              <div class="col-6">
                <div class="m-1 d-grid">
                  <a href="/usuario/admin/usuarios" class="btn btn-primary">Mostrar usuarios</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal comentarios -->
  <div class="modal fade" id="modal-comentarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-comentarios">Panel de administración de comentarios</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="d-flex align-items-center flex-column align-items-center">
              <div class="col-6">
                <div class="m-1 d-grid">
                  <a href="/blog/comentarios-admin" class="btn btn-primary">Ver comentarios</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>




     
      </div>
{% endif %}
      

{% else %}
    <p>Por favor inicia sesión.</p>
{% endif %}



{% endblock content%}