{% extends 'base.html' %} 
{% block content %} 
{% load static %}
{% if user.is_authenticated %}
    <div class="row ">
      <div class="d-flex justify-content-center flex-column align-items-center">
        <div class="align-self-center mb-3">
          {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Avatar de {{ user.username }}" class="img-thumbnail align-self-center" style="max-width:150px;">
          {% else %}
              {% comment %} <img src="{% static 'img/default-avatar.png' %}" alt="Sin avatar" class="img-thumbnail" style="max-width:150px;"> {% endcomment %}
              <i class="bi bi-person-circle display-1"></i>
          {% endif %}
        </div>
      </div>
    </div>
    {% if user.is_superuser %}
    <h1 class="text-center">Bienvenido Administrador, {{ user.username }}!</h1>
    <p class="text-center">correo:  {{ user.email }}</p>
    
    <p class="fs-3 text-center">Paneles de administración: </p>
    
    <div class="row justify-content-center flex-column align-items-center" >
      <div class="col-3">
            <div class="m-1 d-grid">
              <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#panel-entradas" aria-controls="panel-entradas">Entradas</button>
            </div>
      </div>
      <div class="col-3">
            <div class="m-1 d-grid">
              <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#panel-paginas" aria-controls="panel-paginas">Páginas</button>
            </div>
      </div>
      <div class="col-3">
            <div class="m-1 d-grid">
              <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#panel-usuario" aria-controls="panel-usuario">Usuarios</button>
            </div>
      </div>
      <div class="col-3">
            <div class="m-1 d-grid">
              <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#panel-comentarios" aria-controls="panel-comentarios">Comentarios</button>
            </div>
      </div>
    </div>
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="panel-entradas" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <p class="offcanvas-title fs-5" id="offcanvasWithBothOptionsLabel">Paneles de administración de entradas</p>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/blog/entrada-nueva">Crear entrada</a></li>
            <li class="list-group-item"><a href="/blog/entradas-admin">Buscar entrada</a></li>
          </ul>                
        </div>
      </div>

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="panel-paginas" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <p class="offcanvas-title fs-5" id="offcanvasWithBothOptionsLabel">Panel de administración de páginas</p>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'crear_pagina' %}">Crear página</a></li>
            <li class="list-group-item"><a href="{% url 'gestionar_paginas' %}">Mostrar páginas</a></li>
          <ul>
        </div>
      </div>

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="panel-usuario" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <p class="offcanvas-title fs-5" id="offcanvasWithBothOptionsLabel">Panel de administración de usuarios</p>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/usuario/admin/usuarios">Mostrar usuarios</a></li>
          <ul>
        </div>
      </div>

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="panel-comentarios" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <p class="offcanvas-title fs-5" id="offcanvasWithBothOptionsLabel">Panel de administración de comentarios</p>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/blog/comentarios-admin">Ver comentarios</a></li>
          <ul>
        </div>
      </div>
      {% endif %}
      

{% else %}
    <p>Por favor inicia sesión.</p>
{% endif %}



{% endblock content%}